<h1>We got questions, you got answers.</h1>
<h3>The worst answers.</h3>

<%= link_to "Add Question", new_question_path, class: "btn btn-default", id: "newQuestion", remote: true %>

<div id="question_details">
  <%= render "question_details", collection: @questions %>
</div>
