<div id="header-partial">
  <div class="jumbotron">
    <div class="container">
      <h1><%= link_to "Would You Rather", root_path %></h1>
      <h4>We Are Literally Crazy</h4>
    </div>
  </div>
</div>
